@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Codystar:wght@300&family=Cookie&family=Fascinate&family=Monoton&family=Reenie+Beanie&family=Sacramento&display=swap');

/* font-family: 'Caveat', cursive;
font-family: 'Codystar', cursive;
font-family: 'Cookie', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Monoton', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Sacramento', cursive; */

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Reenie Beanie', cursive;
  color: #e7a059;
  font-size: 20px;
  line-height: normal;
  text-align: center;
}

h1 {
  font-family: 'Codystar', cursive;
  /* color: #e1701a; */
  color: #af2323;
  font-size: 41px;
  font-weight: 900;
  /* text-decoration: underline; */
  text-decoration-line: underline;
  /* text-decoration-color: #af2323; */
  text-decoration-color: #e1701a;
  text-decoration-style: wavy;
  text-underline-offset: 5px;
}

h2 {
  font-family: 'Fascinate', cursive;
  color: #f7a440;
  font-size: 28px;
  letter-spacing: 5px;
}

p {
  /* font-size: 20px; */
  font-weight: 600;
  margin-bottom: 40px;
}

#profile-photo {
  max-width: 100%;
  height: 200px;
}

a {
  text-decoration: none;
  /* color: #007f3e; */
  /* color: purple; */
  color: #af2323;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

a:hover {
  color: #aaaaaa;
}

.container {
  /* padding: 300px; */
  /* background-color: white; */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 700px;
  margin: 0 auto;
}

.card {
  padding: 10px;
  padding-bottom: 40px;
  /* margin: 32px; */
  background-color: teal;
}

.box-shadow {
  box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
}

.border-radius {
  border-radius: 4px;
}

.btn {
  background-color: #af2323;
  padding: 16px;
  color: #aaaaaa;
  /* display: block; */
}

.btn:hover {
  background-color: #aaaaaa;
  padding: 16px;
  color: #af2323;
}

ul {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  padding: 0px 15px;
  font-size: 32px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
